HotelManagementSystemProject/Web References/localhost1/WebServiceForIndividualRoom.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertRooms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HotelName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="RID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="RType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RCountry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RDetails" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RContact" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RPrice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RAvailble" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertRoomsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertRoomsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateRooms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HotelName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="RID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="RType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RCountry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RDetails" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RContact" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RPrice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RAvailble" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateRoomsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateRoomsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteRooms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteRoomsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteRoomsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchRooms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchRoomsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchRoomsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchAllRooms">
        <s:complexType />
      </s:element>
      <s:element name="SearchAllRoomsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchAllRoomsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertRoomsSoapIn">
    <wsdl:part name="parameters" element="tns:insertRooms" />
  </wsdl:message>
  <wsdl:message name="insertRoomsSoapOut">
    <wsdl:part name="parameters" element="tns:insertRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="updateRoomsSoapIn">
    <wsdl:part name="parameters" element="tns:updateRooms" />
  </wsdl:message>
  <wsdl:message name="updateRoomsSoapOut">
    <wsdl:part name="parameters" element="tns:updateRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="deleteRoomsSoapIn">
    <wsdl:part name="parameters" element="tns:deleteRooms" />
  </wsdl:message>
  <wsdl:message name="deleteRoomsSoapOut">
    <wsdl:part name="parameters" element="tns:deleteRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="searchRoomsSoapIn">
    <wsdl:part name="parameters" element="tns:searchRooms" />
  </wsdl:message>
  <wsdl:message name="searchRoomsSoapOut">
    <wsdl:part name="parameters" element="tns:searchRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="SearchAllRoomsSoapIn">
    <wsdl:part name="parameters" element="tns:SearchAllRooms" />
  </wsdl:message>
  <wsdl:message name="SearchAllRoomsSoapOut">
    <wsdl:part name="parameters" element="tns:SearchAllRoomsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceForIndividualRoomSoap">
    <wsdl:operation name="insertRooms">
      <wsdl:input message="tns:insertRoomsSoapIn" />
      <wsdl:output message="tns:insertRoomsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateRooms">
      <wsdl:input message="tns:updateRoomsSoapIn" />
      <wsdl:output message="tns:updateRoomsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteRooms">
      <wsdl:input message="tns:deleteRoomsSoapIn" />
      <wsdl:output message="tns:deleteRoomsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="searchRooms">
      <wsdl:input message="tns:searchRoomsSoapIn" />
      <wsdl:output message="tns:searchRoomsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchAllRooms">
      <wsdl:input message="tns:SearchAllRoomsSoapIn" />
      <wsdl:output message="tns:SearchAllRoomsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceForIndividualRoomSoap" type="tns:WebServiceForIndividualRoomSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertRooms">
      <soap:operation soapAction="http://tempuri.org/insertRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRooms">
      <soap:operation soapAction="http://tempuri.org/updateRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRooms">
      <soap:operation soapAction="http://tempuri.org/deleteRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchRooms">
      <soap:operation soapAction="http://tempuri.org/searchRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAllRooms">
      <soap:operation soapAction="http://tempuri.org/SearchAllRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceForIndividualRoomSoap12" type="tns:WebServiceForIndividualRoomSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertRooms">
      <soap12:operation soapAction="http://tempuri.org/insertRooms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRooms">
      <soap12:operation soapAction="http://tempuri.org/updateRooms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRooms">
      <soap12:operation soapAction="http://tempuri.org/deleteRooms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchRooms">
      <soap12:operation soapAction="http://tempuri.org/searchRooms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAllRooms">
      <soap12:operation soapAction="http://tempuri.org/SearchAllRooms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceForIndividualRoom">
    <wsdl:port name="WebServiceForIndividualRoomSoap" binding="tns:WebServiceForIndividualRoomSoap">
      <soap:address location="http://localhost:54007/WebServiceForIndividualRoom.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceForIndividualRoomSoap12" binding="tns:WebServiceForIndividualRoomSoap12">
      <soap12:address location="http://localhost:54007/WebServiceForIndividualRoom.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>